<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= name %>
    </h1>
    <ul>
        <% cityList.forEach((city) => { %>
            <li>
                <h2>
                    <%= city.city %>
                </h2>
                <p>
                    <%= city.pollution %>
                </p>
                <p>
                    coords lat: <%= city.state %> long: <%= city.country %> 
                </p>
            </li>

        <% }) %>
    </ul>    
    <form action="/" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Country</label>
            <input type="text" class="form-control" id="country" name="country">
        </div>
        <input type="submit" value="search">
    </form>
</body>
</html> -->